*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    height: 50px;
    background-color: rgb(16, 0, 243);
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

main{
   height: 80vh; 
   display: flex;
   align-items: center;
   justify-content: center;

}

.senha{
    padding: 30px;
    border: 2px solid blue;
    border-radius: 40px;
    background-color: gray;
    color: azure;
    font-size: 48px;
    min-width: 400px;

}

#senha{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 20px;
    background-color: blue;
    text-align: center;
}